<%= render 'breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.incoming_deliveries.title'),
    path: project_incoming_deliveries_path(@project) },
  { text: @incoming_delivery.order_number,
    path: project_incoming_delivery_path(@project, @incoming_delivery)  },
  { text: t('common.labels.edit') }
] %>

<div class="mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0"><%= t('.title', order_number: @incoming_delivery.order_number) %></h2>
    </div>

    <div class="card-body">
        <%= render "form" %>
    </div>
  </div>
</div>