<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.prefabrications'),
    path: project_prefabrications_path(@project) },
  { text: @prefabrication.work_package_number,
    path: project_prefabrication_path(@project, @prefabrication) },
  { text: t('common.labels.edit') }
] %>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0"><%= t('.title', work_package: @prefabrication.work_package_number) %></h2>
    </div>

    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
