<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.site_deliveries.title'),
    path: project_site_deliveries_path(@project) },
  { text: @site_delivery.work_package_number,
    path: project_site_delivery_path(@project, @site_delivery) },
  { text: t('common.labels.edit') }
] %>

<div class="mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0"><%= t('.title', work_package: @site_delivery.work_package_number) %></h2>
    </div>

    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
