<div class="container mt-10 text-center">
  <div class="alert">
    <h1 class="text-white"><%= t('home.title') %></h1>
    <p class="mt-4 text-white"><%= t('home.description') %></p>
    <% if admin_signed_in? %>
      <%= link_to t('home.administration'), rails_admin_path, class: "btn base-color-bg-dark text-white" %>
    <% end %>
  </div>
</div>
