<div class="container mt-5">
  <div class="alert">
    <h1>Welcome to Rails!</h1>
    <p>Bootstrap and jQuery are working if this is styled and the button works.</p>
    <button class="btn base-color-bg-dark text-white" id="test-button">Click me!</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#test-button').click(function() {
      alert('jQuery is working!');
    });
  });
</script>