<div class="container mt-5 text-center">
  <div class="alert">
    <h1><%= t('home.title') %></h1>
    <h2><%= t('home.industries') %></h2>
    <h3><%= t('home.construction') %></h3>
    <p class="mt-4"><%= t('home.description') %></p>
    <button class="btn base-color-bg-dark text-white" id="test-button">Click me!</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#test-button').click(function() {
      alert('jQuery is working!');
    });
  });
</script>