<!-- app/views/missing_delivery_items/edit.html.erb -->
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Edit Missing Item Report</h2>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>