<%= render 'breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.isometries.title'), path: project_isometries_path(@project) },
  { text: @isometry.line_id, path: project_isometry_path(@project, @isometry) },
  { text: t('common.labels.edit') }
] %>

<div class="mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0"><%= t('.title', line_id: @isometry.line_id) %></h2>
    </div>

    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>