<%= render 'breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.isometries.title'), path: project_isometries_path(@project) },
  { text: t('.title') }
] %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= t('.title') %></h1>
</div>

<%= render 'form' %>
