<div class="mb-5">
  <%= f.label :on_hold_status, t('activerecord.attributes.delivery_item.on_hold_status'), class: 'form-label' %>
  <div class="row">
    <div class="col-md-6">
      <%= f.select :on_hold_status,
                  DeliveryItem::ON_HOLD_STATUSES,
                  { include_blank: false },
                  class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.file_field :on_hold_images, multiple: true, class: 'form-control' %>
    </div>
  </div>
  <%= f.text_area :on_hold_comment, class: 'form-control mt-2', rows: 2,
      placeholder: t('activerecord.attributes.delivery_item.on_hold_comment') %>
</div>
