<div class="dropdown" data-controller="language">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t('language') %>: <%= I18n.locale.to_s.upcase %>
  </button>
  <ul class="dropdown-menu">
    <% I18n.available_locales.each do |locale| %>
      <li>
        <%= link_to locale.to_s.upcase,
            params.permit(:locale).merge(locale: locale),
            class: "dropdown-item #{I18n.locale == locale ? 'active' : ''}" %>
      </li>
    <% end %>
  </ul>
</div>