<nav class="navbar navbar-expand-lg">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg", height: 40, alt: "Logo" %>
    <% end %>
    <div class="ms-auto">
      <%= link_to t('home.sign_in'), new_user_session_path, class: "btn base-color-bg-dark text-white" %>
    </div>
  </div>
</nav>