<div class="btn-group btn-group-sm">
    <%= link_to polymorphic_path(record),
                class: 'btn btn-outline-info',
                title: t('common.actions.show'),
                data: { bs_toggle: 'tooltip' } do %>
      <i class="bi bi-eye"></i>
    <% end %>

    <%= link_to edit_polymorphic_path(record),
                class: 'btn btn-outline-primary',
                title: t('common.actions.edit'),
                data: { bs_toggle: 'tooltip' } do %>
      <i class="bi bi-pencil"></i>
    <% end %>

    <%= link_to polymorphic_path(record),
                class: 'btn btn-outline-danger',
                title: t('common.actions.delete'),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: t('common.messages.confirm_delete',
                                 model: record.class.model_name.human.downcase),
                  bs_toggle: 'tooltip'
                } do %>
      <i class="bi bi-trash"></i>
    <% end %>
</div>
